@import "tailwindcss";

:root {
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: var(--darkest);
  background: repeating-radial-gradient(
    circle at center,
    var(--darkest),
    var(--darkest) 2em,
    var(--darker) 2em,
    var(--darker) 3em
  );
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  height: var(--svg-default-size);
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: center;
}

h1,
.h1 {
  font-size: var(--h1-text-size);
  font-family: var(--h1-font);
  font-weight: var(--h1-font-weight);
  text-transform: var(--h1-text-transform);
  font-size: var(--h1-text-size);
  color: var(--h1-color);
  background: var(--h1-bg-color);
  border: var(--h1-border);
  border-radius: var(--h1-border-radius);
  width: var(--h1-width);
  margin: var(--h1-margin);
  padding: var(--h1-padding);
  position: var(--h1-position);

  outline: var(--border-sm) solid var(--darkest);
}

h2,
.h2 {
  font-size: var(--h2-text-size);
  font-family: var(--h2-font);
  font-weight: var(--h2-font-weight);
  text-transform: var(--h2-text-transform);
  color: var(--h2-color);
  background: var(--h2-bg-color);
  border: var(--h2-border);
  border-radius: var(--h2-border-radius);
  width: var(--h2-width);
  margin: var(--h2-margin);
  padding: var(--h2-padding);
  position: var(--h2-position);

  outline: var(--border-sm) solid var(--darkest);
  letter-spacing: var(--lg);
}

h3,
.h3 {
  font-size: var(--h3-text-size);
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  text-transform: var(--h3-text-transform);
  color: var(--h3-color);
  background: var(--h3-bg-color);
  border: var(--h3-border);
  border-radius: var(--h3-border-radius);
  width: var(--h3-width);
  margin: var(--h3-margin);
  padding: var(--h3-padding);
  position: var(--h3-position);
}

h4:not(.p),
.h4:not(.p) {
  font-size: var(--h4-text-size);
  font-family: var(--h4-font);
  font-weight: var(--h4-font-weight);
  text-transform: var(--h4-text-transform);
  color: var(--h4-color);
  background: var(--h4-bg-color);
  border: var(--h4-border);
  border-radius: var(--h4-border-radius);
  width: var(--h4-width);
  margin: var(--h4-margin);
  padding: var(--h4-padding);
  position: var(--h4-position);

  outline: var(--border-sm) solid var(--darkest);
}

h5:not(.h6),
h5:not(.h4),
.h5 {
  font-size: var(--h5-text-size);
  font-family: var(--h5-font);
  font-weight: var(--h5-font-weight);
  text-transform: var(--h5-text-transform);
  color: var(--h5-color);
  background: var(--h5-bg-color);
  border: var(--h5-border);
  border-radius: var(--h5-border-radius);
  width: var(--h5-width);
  margin: var(--h5-margin);
  padding: var(--h5-padding);

  outline: var(--border-sm) solid var(--darkest);
  transform: rotate(-7deg);
}

h6,
.h6 {
  font-size: var(--h6-text-size);
  font-family: var(--h6-font);
  font-weight: var(--h6-font-weight);
  text-transform: var(--h6-text-transform);
  color: var(--h6-color);
  background: var(--h6-bg-color);
  stroke: var(--h6-border);
  border-radius: var(--h6-border-radius);
  width: var(--h6-width);
  margin: var(--h6-margin);
  padding: var(--h6-padding);
  position: var(--h6-position);

  text-shadow:
    -3px 3px var(--darkest),
    -4px 4px var(--light);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

p a,
p button {
  font-size: var(--p-a-text-size);
  font-family: var(--p-a-font);
  font-weight: var(--p-a-font-weight);
  text-transform: var(--p-a-text-transform);
  color: var(--p-a-color);
  background: var(--p-a-bg-color);
  border: var(--p-a-border);
  border-radius: var(--p-a-border-radius);
  padding: var(--p-a-padding);

  &:hover,
  &.active {
    font-family: var(--p-a-hover-font);
    font-weight: var(--p-a-hover-font-weight);
    text-transform: var(--p-a-hover-text-transform);
    color: var(--p-a-hover-color);
    background: var(--p-a-hover-bg-color);
    border: var(--p-a-hover-border);
    border-radius: var(--p-a-hover-border-radius);
  }
}

a,
button {
  font-size: var(--a-text-size);
  font-family: var(--a-font);
  font-weight: var(--a-font-weight);
  text-transform: var(--a-text-transform);
  color: var(--a-color);
  background: var(--a-bg-color);
  border: var(--a-border);
  border-radius: var(--a-border-radius);
  padding: var(--a-padding);

  text-decoration: none;

  &:hover,
  &.active {
    font-family: var(--a-hover-font);
    font-weight: var(--a-hover-font-weight);
    text-transform: var(--a-hover-text-transform);
    color: var(--a-hover-color);
    background: var(--a-hover-bg-color);
    border: var(--a-hover-border);
    border-radius: var(--a-hover-border-radius);
  }
}

p,
.p {
  font-size: var(--p-text-size);
  font-family: var(--p-font);
  font-weight: var(--p-font-weight);
  text-transform: var(--p-text-transform);
  color: var(--p-color);
  background: var(--p-bg-color);
  border: var(--p-border);
  border-radius: var(--p-border-radius);
  width: var(--p-width);
  margin: var(--p-margin);
  padding: var(--p-padding);
  position: var(--p-position);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
}

/* start CUSTOM STYLES */
.align-center {
  align-content: center;
}

.hidden {
  display: none;
}

.text-nav ul {
  display: flex;
}
nav li {
  width: 100%;
  text-align: center;
}
nav li a {
  width: 100%;
  display: block;

  svg {
    margin: auto;
  }

  &:hover svg {
    fill: var(--a-hover-color);
  }
}

.cont {
  width: 100%;
  height: 102vh;
  position: absolute;
  overflow: hidden;
  border-top: 15px solid var(--darkest);
  border-bottom: 15px solid var(--darkest);
  margin: -15px 0 0;
  border-radius: 10px;
  filter: url("#liquid");
  transform: rotate(180deg);
  position: fixed;
  top: 0;
  z-index: -1;

  & .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--darkest);
    position: absolute;
    top: -100%;
    border-color: var(--darkest);
    background: var(--darkest);
  }
}

.card,
.card-content {
  position: relative;
}
.card-title {
  position: absolute;
  z-index: 2;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
}
@media (min-width: 769px) {
  .card-image {
    filter: grayscale(1);
    transition: filter 0.4s;
    z-index: 1;
    border: var(--sm) solid var(--light);
    outline: var(--sm) solid var(--darkest);
    object-fit: cover;
    height: 100%;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .card:hover .card-footer {
    opacity: 1;
    transition: opacity 0.4s;
  }
  .card:hover .card-image {
    filter: none;
    transition: filter 0.4s;
  }
}
/* end CUSTOM STYLES */

/* start ANIMATIONS */
@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 2px 3px rgba(40, 76, 82, 0.5);
  }
  50% {
    box-shadow: 0 0 5px 3px rgba(40, 76, 82, 0.9);
  }
  100% {
    box-shadow: 0 0 3px 3px rgba(40, 76, 82, 0.5);
  }
}

@keyframes svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes falling {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
/* end ANIMATIONS */
