:root {
  --light: #00ff41;
  --dark: #0d0208;
  --accent: #008f11;
  --accent-dark: #003b00;
}

.inter-the-matrix {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

html {
  background-color: var(--dark);
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  background: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

@media (min-width: 600px) {
  main {
    padding: 20px;
  }
}

main.invert {
  background-color: var(--dark);
  color: var(--light);
}

aside {
  align-self: flex-end;
}

aside button {
  font-size: 16px;
  margin: 10px 5px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0 0 20px;
  text-align: center;
}

nav li a {
  display: block;
  border: 1px solid var(--accent-dark);
  background-color: var(--accent-dark);
  padding: 0.75em;
  border-radius: 8px;
  text-decoration: none;
  color: var(--light);
  font-family: "Doto", sans-serif;
  font-size: 24px;
}

.invert nav li a {
  border: 1px solid var(--accent-dark);
  background-color: var(--accent-dark);
  border-radius: 4px;
  text-decoration: none;
  color: var(--light);
}

nav li a:hover {
  text-decoration: underline;
}

.invert nav li a:hover {
  border: 1px solid var(--accent-dark);
  background-color: var(--accent-dark);
}

h1 {
  margin: 0;
  padding: 20px 0 0;
  font-size: 28px;
  text-align: center;
}

a {
  color: var(--accent-dark);
}

body a,
.invert a {
  color: var(--accent);
}

header img,
header .invert img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  border: 2px solid var(--accent);
}

header h2 {
  text-align: center;
}

#work ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  flex-flow: row wrap;
  justify-content: space-between;
}

#work li {
  text-align: center;
}

#skills ul,
#playgrounds ul {
  list-style: none;
}

#skills li {
  padding-bottom: 10px;
}

@media (min-width: 661px) {
  #work ul {
    flex-direction: row;
  }

  #work li {
    width: 48%;
  }
}

@media (min-width: 991px) {
  #work li {
    width: 23%;
  }
}

#work img {
  display: block;
  max-width: 100%;
  border: 2px solid var(--accent);
}

.playground {
  padding: 1em;
}

.list-item {
  display: list-item;
  list-style-type: disc;
}

.list-item-footer {
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#introduction {
  padding: 4px 0 14px;
}

section.outline,
header.outline {
  border: 2px solid var(--accent);
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 2em;
}

a.outline {
  border: 2px solid var(--accent);
  border-radius: 4px;
}

a.outline:hover {
  cursor: pointer;
}

@media (min-width: 375px) {
  h1 {
    font-size: 34px;
  }
}

@media (min-width: 424px) {
  h1 {
    font-size: 39px;
  }
}

@media (min-width: 991px) {
  main {
    max-width: 1024px;
    padding: 3rem;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  nav ul {
    display: flex;
  }

  nav li {
    width: 25%;
    margin: 0 10px;
  }
}
