:root {
  /* primary palette */
  --yellow: #eacb35;
  --pink: #cc003c;
  --green: #90bc0b;
  /* supporting palette */
  --black: #0a0a0a;
  --white: #e3dad3;
  --grey: #433f3c;
  --orange: #ee670c;
  --red: #c6031e;
  --blue: #66b3c4;

  --brand: var(--yellow);
  --accent: var(--pink);
  --neutral: var(--grey);
  --success: var(--green);
  --error: var(--red);
  --warning: var(--orange);
  --light: var(--white);
  --dark: var(--black);
  --background: var(--blue);

  --border-sm: 4px;
  --border-md: 8px;
  --border-lg: 12px;
  --border-full: 50%;

  --h1-font: "IBMPlexMono";
  --h1-font-weight: 400;
  --h1-text-size: 1em;
  --h1-text-transform: lowercase;
  --h1-color: var(--brand);
  --h1-bg-color: var(--dark);
  --h1-border: 4px solid var(--light);
  --h1-border-radius: var(--border-md) 0 0 0;

  --h2-font: "Karantina";
  --h2-font-weight: 400;
  --h2-text-size: 2em;
  --h2-text-transform: uppercase;
  --h2-color: var(--light);
  --h2-bg-color: var(--dark);
  --h2-border: 4px solid var(--light);
  --h2-border-radius: 0 0 0 0;

  --h3-font: "CutiveMono";
  --h3-font-weight: bold;
  --h3-text-size: 2em;
  --h3-text-transform: uppercase;
  --h3-color: var(--dark);
  --h3-bg-color: var(--light);
  --h3-border: 4px solid var(--dark);
  --h3-border-radius: var(--border-md);

  --h4-font: "IBMPlexMono";
  --h4-font-weight: 400;
  --h4-text-size: 1em;
  --h4-text-transform: lowercase;
  --h4-color: var(--black);
  --h4-bg-color: var(--orange);
  --h4-border: 4px solid var(--light);
  --h4-border-radius: 0 0 0 var(--border-md);

  --h5-font: "Lacquer";
  --h5-font-weight: 400;
  --h5-text-size: 1em;
  --h5-text-transform: lowercase;
  --h5-color: var(--brand);
  --h5-bg-color: var(--dark);
  --h5-border: 4px solid var(--brand);
  --h5-border-radius: var(--border-full);

  --h6-font: "MochiyPopPOne";
  --h6-font-weight: 400;
  --h6-text-size: 1em;
  --h6-text-transform: lowercase;
  --h6-color: var(--green);
  --h6-bg-color: "transparent";
  --h6-border: 4px solid var(--white);
  --h6-border-radius: var(--border-md) 0 0 0;

  --p-font: "IBMPlexMono";
  --p-font-weight: 400;
  --p-text-size: 1em;
  --p-text-transform: lowercase;
  --p-color: var(--black);
  --p-bg-color: var(--white);
  --p-border: 4px solid var(--black);
  --p-border-radius: var(--border-md);

  --a-font: "IBMPlexMono";
  --a-font-weight: 400;
  --a-text-size: 1em;
  --a-text-transform: lowercase;
  --a-color: var(--success);
  --a-bg-color: transparent;
  --a-border: none;
  --a-border-radius: 0;
  --a-hover-font: "IBMPlexMono";
  --a-hover-font-weight: 400;
  --a-hover-text-size: 1em;
  --a-hover-text-transform: lowercase;
  --a-hover-color: var(--success);
  --a-hover-bg-color: transparent;
  --a-hover-border: none;
  --a-hover-border-radius: 0;

  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--neutral);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
.h1 {
  font-family: var(--h1-font);
  font-weight: var(--h1-font-weight);
  text-transform: var(--h1-text-transform);
  color: var(--h1-color);
  background: var(--h1-bg-color);
  border: var(--h1-border);
  border-radius: var(--h1-border-radius);

  width: fit-content;
  margin: 0 auto;
  padding: 0 0.35em;
}

h2,
.h2 {
  font-family: var(--h2-font);
  font-weight: var(--h2-font-weight);
  text-transform: var(--h2-text-transform);
  color: var(--h2-color);
  background: var(--h2-bg-color);
  /* TODO: want square border around each letter */
  border: var(--h2-border);
  border-radius: var(--h2-border-radius);
}

h3,
.h3 {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  text-transform: var(--h3-text-transform);
  color: var(--h3-color);
  background: var(--h3-bg-color);
  /* TODO: want square border around each letter (?) */
  border: var(--h3-border);
  border-radius: var(--h3-border-radius);
}

h4,
.h4 {
  font-family: var(--h4-font);
  font-weight: var(--h4-font-weight);
  text-transform: var(--h4-text-transform);
  color: var(--h4-color);
  background: var(--h4-bg-color);
  border: var(--h4-border);
  border-radius: var(--h4-border-radius);
}

h5,
.h5 {
  font-family: var(--h5-font);
  font-weight: var(--h55-font-weight);
  text-transform: var(--h5-text-transform);
  color: var(--h5-color);
  background: var(--h5-bg-color);
  border: var(--h5-border);
  border-radius: var(--h5-border-radius);
}

h6,
.h6 {
  font-family: var(--h6-font);
  font-weight: var(--h6-font-weight);
  text-transform: var(--h6-text-transform);
  color: var(--h6-color);
  background: var(--h6-bg-color);
  border: var(--h6-border);
  border-radius: var(--h6-border-radius);
}
a,
.a {
  font-family: var(--a-font);
  font-weight: var(--a-font-weight);
  text-transform: var(--a-text-transform);
  color: var(--a-color);
  background: var(--a-bg-color);
  border: var(--a-border);
  border-radius: var(--a-border-radius);
}
a:hover {
  font-family: var(--a-hover-font);
  font-weight: var(--a-hover-font-weight);
  text-transform: var(--a-hover-text-transform);
  color: var(--a-hover-color);
  background: var(--a-hover-bg-color);
  border: var(--a-hover-border);
  border-radius: var(--a-hover-border-radius);
}

button {
  color: var(--dark);
  border: unset;
  border-radius: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--success);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background: var(--background);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p,
.p {
  font-family: var(--p-font);
  text-transform: var(--p-text-transform);
  color: var(--p-color);
  background: var(--p-bg-color);
  border: var(--p-border);
  border-radius: var(--p-border-radius);
}

.styles {
  display: flex;
  gap: 2em;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */

/* FONT FACES */
@font-face {
  font-family: "CutiveMono";
  src: local("CourierPrime-Bold"), url("./assets/fonts/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono-SemiBold"),
    url("./assets/fonts/IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: "Karantina";
  src: local("Karantina-Regular"), url("./assets/fonts/Karantina-Regular.ttf");
}

@font-face {
  font-family: "Lacquer";
  src: local("Lacquer-Regular"), url("./assets/fonts/Lacquer-Regular.ttf");
}

@font-face {
  font-family: "MochiyPopPOne"; /* Japanese only */
  src: local("MochiyPopPOne-Regular"),
    url("./assets/fonts/MochiyPopPOne-Regular.ttf");
}
