@import "tailwindcss";

:root {
  --yellow: #eacb35;
  --pink: #cc003c;
  --green: #90bc0b;
  --black: #000000;
  --white: #e3dad3;
  --grey: #433f3c;
  --orange: #ee670c;
  --red: #c6031e;
  --blue: #66b3c4;

  --sm: 2px;
  --md: 4px;
  --lg: 8px;
  --xl: 12px;

  --brand: var(--yellow);
  --accent: var(--pink);
  --neutral: var(--grey);
  --success: var(--green);
  --error: var(--red);
  --warning: var(--orange);
  --light: var(--white);
  --dark: var(--black);
  --background: var(--blue);

  --border-sm: var(--sm);
  --border-md: var(--md);
  --border-lg: var(--lg);
  --border-radius-full: 50%;

  --h1-font: "IBMPlexMono-SemiBold";
  --h1-font-weight: 400;
  --h1-text-size: 1em;
  --h1-text-transform: lowercase;
  --h1-color: var(--brand);
  --h1-bg-color: var(--dark);
  --h1-border: var(--border-sm) solid var(--light);
  --h1-border-radius: var(--border-md) 0 0 0;
  --h1-width: fit-content;
  --h1-margin: 5px auto;
  --h1-padding: 0 0.35em;
  --h1-position: relative;

  --h2-font: "Karantina";
  --h2-font-weight: 400;
  --h2-text-size: 3em;
  --h2-text-transform: uppercase;
  --h2-color: var(--light);
  --h2-bg-color: var(--dark);
  --h2-border: var(--border-sm) solid var(--light);
  --h2-border-radius: 0 0 0 0;
  --h2-width: fit-content;
  --h2-margin: 10px auto;
  --h2-padding: 0 var(--md);
  --h2-position: relative;

  --h3-font: "CutiveMono";
  --h3-font-weight: bold;
  --h3-text-size: 2em;
  --h3-text-transform: uppercase;
  --h3-color: var(--dark);
  --h3-bg-color: var(--light);
  --h3-border: var(--border-md) solid var(--dark);
  --h3-border-radius: var(--border-sm);
  --h3-width: fit-content;
  --h3-margin: var(--xl) auto 0;
  --h3-padding: 5px 5px 0 5px;
  --h3-position: relative;

  --h4-font: "IBMPlexMono-Bold";
  --h4-font-weight: 400;
  --h4-text-size: 1.15em;
  --h4-text-transform: lowercase;
  --h4-color: var(--black);
  --h4-bg-color: var(--orange);
  --h4-border: var(--border-md) solid var(--light);
  --h4-border-radius: 0 0 0 var(--border-md);
  --h4-width: fit-content;
  --h4-margin: -1.25em auto 0;
  --h4-padding: inherit;
  --h4-position: relative;

  --h5-font: "Lacquer";
  --h5-font-weight: 400;
  --h5-text-size: 1.5em;
  --h5-text-transform: lowercase;
  --h5-color: var(--brand);
  --h5-bg-color: var(--dark);
  --h5-border: var(--border-md) solid var(--brand);
  --h5-border-radius: var(--border-radius-full);
  --h5-width: max-content;
  --h5-margin: auto;
  --h5-padding: var(--lg);
  --h5-position: relative;

  --h6-font: "MochiyPopPOne";
  --h6-font-weight: 400;
  --h6-text-size: 2.25em;
  --h6-text-transform: lowercase;
  --h6-color: var(--green);
  --h6-bg-color: "transparent";
  --h6-border: var(--border-sm) solid var(--white);
  --h6-border-radius: 0;
  --h6-width: fit-content;
  --h6-margin: 0;
  --h6-padding: 0;
  --h6-position: relative;

  --p-font: "CutiveMono";
  --p-font-weight: 400;
  --p-text-size: 1.25em;
  --p-text-transform: none;
  --p-color: var(--black);
  --p-bg-color: var(--white);
  --p-border: var(--border-md) solid var(--black);
  --p-border-radius: var(--border-md);
  --p-width: fit-content;
  --p-margin: auto;
  --p-padding: var(--xl);
  --p-position: inherit;

  --p-a-font: "CutiveMono";
  --p-a-font-weight: 400;
  --p-a-text-size: 1.25em;
  --p-a-text-transform: uppercase;
  --p-a-color: var(--dark);
  --p-a-bg-color: var(--success);
  --p-a-border: var(--border-sm) solid var(--black);
  --p-a-border-radius: var(--border-sm);
  --p-a-width: fit-content;
  --p-a-hover-font: "CutiveMono";
  --p-a-hover-font-weight: 400;
  --p-a-hover-text-size: 1em;
  --p-a-hover-text-transform: uppercase;
  --p-a-hover-color: var(--dark);
  --p-a-hover-bg-color: var(--background);
  --p-a-hover-border: var(--border-sm) solid var(--black);
  --p-a-hover-border-radius: 0;
  --p-a-hover-width: fit-content;

  --a-font: "IBMPlexMono-SemiBold";
  --a-font-weight: 400;
  --a-text-size: 1.5em;
  --a-text-transform: lowercase;
  --a-color: var(--success);
  --a-bg-color: transparent;
  --a-border: none;
  --a-border-radius: 0;
  --a-width: fit-content;
  --a-hover-font: "IBMPlexMono-SemiBold";
  --a-hover-font-weight: 400;
  --a-hover-text-size: 1em;
  --a-hover-text-transform: lowercase;
  --a-hover-color: var(--background);
  --a-hover-bg-color: transparent;
  --a-hover-border: none;
  --a-hover-border-radius: 0;
  --a-width: fit-content;

  --animation-speed-normal: 8s;
  --animation-speed-reduced: 15s;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);
  background: repeating-radial-gradient(
    circle at center,
    var(--dark),
    var(--dark) 2em,
    var(--red) 2em,
    var(--red) 3em
  );
  background-attachment: fixed;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  :root {
    font-size: 20px;
  }
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.section {
  padding: var(--xl);
  margin: 0 0 var(--xl);
  background-color: var(--neutral);
  display: inline-block;
  position: relative;
  z-index: 0;
}

.section::before {
  margin: var(--lg);
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border: 10px dotted var(--light);
  filter: drop-shadow(0 0 3px var(--light));
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: center;
  margin: 1em;
}

h1,
.h1 {
  font-size: var(--h1-text-size);
  font-family: var(--h1-font);
  font-weight: var(--h1-font-weight);
  text-transform: var(--h1-text-transform);
  font-size: var(--h1-text-size);
  color: var(--h1-color);
  background: var(--h1-bg-color);
  border: var(--h1-border);
  border-radius: var(--h1-border-radius);
  width: var(--h1-width);
  margin: var(--h1-margin);
  padding: var(--h1-padding);
  position: var(--h1-position);

  outline: var(--border-sm) solid var(--dark);
}

h2,
.h2 {
  font-size: var(--h2-text-size);
  font-family: var(--h2-font);
  font-weight: var(--h2-font-weight);
  text-transform: var(--h2-text-transform);
  color: var(--h2-color);
  background: var(--h2-bg-color);
  border: var(--h2-border);
  border-radius: var(--h2-border-radius);
  width: var(--h2-width);
  margin: var(--h2-margin);
  padding: var(--h2-padding);
  position: var(--h2-position);

  outline: var(--border-sm) solid var(--dark);
  letter-spacing: var(--lg);
}

h3,
.h3 {
  font-size: var(--h3-text-size);
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  text-transform: var(--h3-text-transform);
  color: var(--h3-color);
  background: var(--h3-bg-color);
  border: var(--h3-border);
  border-radius: var(--h3-border-radius);
  width: var(--h3-width);
  margin: var(--h3-margin);
  padding: var(--h3-padding);
  position: var(--h3-position);
}

h4:not(.p),
.h4 {
  font-size: var(--h4-text-size);
  font-family: var(--h4-font);
  font-weight: var(--h4-font-weight);
  text-transform: var(--h4-text-transform);
  color: var(--h4-color);
  background: var(--h4-bg-color);
  border: var(--h4-border);
  border-radius: var(--h4-border-radius);
  width: var(--h4-width);
  margin: var(--h4-margin);
  padding: var(--h4-padding);
  position: var(--h4-position);

  outline: var(--border-sm) solid var(--dark);
}

h5:not(.h6):not(.h4),
.h5 {
  font-size: var(--h5-text-size);
  font-family: var(--h5-font);
  font-weight: var(--h5-font-weight);
  text-transform: var(--h5-text-transform);
  color: var(--h5-color);
  background: var(--h5-bg-color);
  border: var(--h5-border);
  border-radius: var(--h5-border-radius);
  width: var(--h5-width);
  margin: var(--h5-margin);
  padding: var(--h5-padding);
  //position: var(--h5-position);

  outline: var(--border-sm) solid var(--dark);
  transform: rotate(-7deg);
}

h5:not(.h6):not(.h4):hover,
.h5:hover {
  //--_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

h6,
.h6 {
  font-size: var(--h6-text-size);
  font-family: var(--h6-font);
  font-weight: var(--h6-font-weight);
  text-transform: var(--h6-text-transform);
  color: var(--h6-color);
  background: var(--h6-bg-color);
  stroke: var(--h6-border);
  border-radius: var(--h6-border-radius);
  width: var(--h6-width);
  margin: var(--h6-margin);
  padding: var(--h6-padding);
  position: var(--h6-position);

  text-shadow: -3px 3px var(--dark), -4px 4px var(--light);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

a:not(p a):not(a.card),
.a {
  font-size: var(--a-text-size);
  font-family: var(--a-font);
  font-weight: var(--a-font-weight);
  text-transform: var(--a-text-transform);
  color: var(--a-color);
  background: var(--a-bg-color);
  border: var(--a-border);
  border-radius: var(--a-border-radius);

  text-shadow: -2px 2px var(--dark), -2px 2px var(--light);
  text-decoration: none;
}
a:hover:not(p a):not(a.card) {
  font-family: var(--a-hover-font);
  font-weight: var(--a-hover-font-weight);
  text-transform: var(--a-hover-text-transform);
  color: var(--a-hover-color);
  background: var(--a-hover-bg-color);
  border: var(--a-hover-border);
  border-radius: var(--a-hover-border-radius);

  cursor: pointer;
}

h3 .p a,
p a,
.p a,
button {
  font-size: var(--p-a-text-size);
  font-family: var(--p-a-font);
  font-weight: var(--p-a-font-weight);
  text-transform: var(--p-a-text-transform);
  color: var(--p-a-color);
  background: var(--p-a-bg-color);
  border: var(--p-a-border);
  border-radius: var(--p-a-border-radius);
  padding: var(--md) var(--md) 0;

  text-decoration: none;
}
.p a:hover,
p a:hover,
button:hover {
  font-family: var(--p-a-hover-font);
  font-weight: var(--p-a-hover-font-weight);
  text-transform: var(--p-a-hover-text-transform);
  color: var(--p-a-hover-color);
  background: var(--p-a-hover-bg-color);
  border: var(--p-a-hover-border);
  border-radius: var(--p-a-hover-border-radius);
}

p {
  font-size: var(--p-text-size);
  font-family: var(--p-font);
  font-weight: var(--p-font-weight);
  text-transform: var(--p-text-transform);
  color: var(--p-color);
  background: var(--p-bg-color);
  border: var(--p-border);
  border-radius: var(--p-border-radius);
}

p,
.p {
  font-family: var(--p-font);
  text-transform: var(--p-text-transform);
  color: var(--p-color);
  background: var(--p-bg-color);
  border: var(--p-border);
  border-radius: var(--p-border-radius);
  width: var(--p-width);
  margin: var(--p-margin);
  padding: var(--p-padding);
  position: var(--p-position);
}

svg {
  height: 2em;
}

a svg {
  will-change: filter;
  transition: filter 300ms;
}
a:hover svg:not(.star) {
  stroke: var(--dark);
  stroke-width: var(--lg);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
p ul,
ul.p {
  font-size: var(--p-text-size);
  flex-direction: column;
}

/* start FONT FACES */
@font-face {
  font-family: "CutiveMono";
  src: local("CourierPrime-Bold"), url("./assets/fonts/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: local("IBMPlexMono-SemiBold"),
    url("./assets/fonts/IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: local("IBMPlexMono-Bold"), url("./assets/fonts/IBMPlexMono-Bold.ttf");
}

@font-face {
  font-family: "Karantina";
  src: local("Karantina-Regular"), url("./assets/fonts/Karantina-Regular.ttf");
}

@font-face {
  font-family: "Lacquer";
  src: local("Lacquer-Regular"), url("./assets/fonts/Lacquer-Regular.ttf");
}

@font-face {
  font-family: "MochiyPopPOne"; /* Japanese only */
  src: local("MochiyPopPOne-Regular"),
    url("./assets/fonts/MochiyPopPOne-Regular.ttf");
}
/* end FONT FACES */

/* start CUSTOM STYLES */
.cont {
  width: 100%;
  height: 102vh;
  position: absolute;
  overflow: hidden;
  border-top: 15px solid var(--dark);
  border-bottom: 15px solid var(--dark);
  margin: -15px 0 0;
  border-radius: 10px;
  filter: url("#liquid");
  transform: rotate(180deg);
  position: fixed;
  top: 0;
  z-index: -1;
}

.cont .drip {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--dark);
  position: absolute;
  top: -100%;
  animation: falling 10s linear infinite;
  border-color: var(--dark);
  background: var(--dark);
}

.bw-image {
  filter: grayscale(1);
  height: 100%;
  outline: var(--sm) solid var(--dark);
}
.card-image {
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  margin-top: -8em;
  z-index: 0;
  border: var(--sm) solid var(--light);
  outline: var(--sm) solid var(--dark);
}
.card-title,
.card-tagline,
.card-badge {
  z-index: 1;
}
.card-badge {
  position: absolute;
  top: 4em;
}

ul.grid-list {
  gap: var(--sm);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  ul.grid-list {
    gap: var(--xl);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  ul.grid-list {
    gap: var(--lg);
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid-list .card {
  position: relative;
}
.grid-list .card .section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: var(--neutral);
}
.grid-list .card .section:hover img {
  -webkit-transform: scale(0.85) rotate(0.01deg);
  transform: scale(0.85) rotate(0.01deg);
  filter: grayscale(0);
}
.grid-list .card .section:hover {
  opacity: 1;
}

.badge {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
}

.hidden {
  display: none;
}

header nav ul {
  min-height: 5em;
}
header nav li {
  position: relative;
  width: 100%;
}
header nav li a {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
}
header nav a svg:not(.star) {
  position: relative;
  fill: var(--success);
  transition: transform 0.3s ease-out;
  z-index: 98;
  top: 30px;
}
@media (min-width: 768px) {
  top: 30px;
  left: 34px;
}
header nav a:hover svg:not(.star) {
  fill: var(--background);
  transform: scale(1.5);
}
header nav a:hover .star {
  display: block;
}

.header {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header h5 {
  font-size: 1.5em !important;
}
.header div {
  margin: auto 0;
}

.star {
  position: absolute;
  height: 4em;
  fill: var(--accent);
  stroke: var(--brand);
  stroke-width: var(--xl);
  z-index: 97;
  top: 0;
  left: -1em;
  display: none;
}
@media (min-width: 525px) {
  .star {
    left: unset;
    justify-self: anchor-center;
  }
}

.styles {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

ul:not(nav ul):not(.grid-list) {
  list-style: katakana inside;
}

@media (min-width: 768px) {
  .styles {
    flex-direction: row;
  }
}
/* end CUSTOM STYLES */

/* start ANIMATIONS */
@media (prefers-reduced-motion: no-preference) {
  .star {
    animation: svg-spin infinite var(--animation-speed-normal) linear;
  }
}
@media (prefers-reduced-motion: reduce) {
  .star {
    animation: svg-spin infinite var(--animation-speed-reduced) linear;
  }
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 2px 3px rgba(40, 76, 82, 0.5);
  }
  50% {
    box-shadow: 0 0 5px 3px rgba(40, 76, 82, 0.9);
  }
  100% {
    box-shadow: 0 0 3px 3px rgba(40, 76, 82, 0.5);
  }
}

@keyframes svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes falling {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
/* end ANIMATIONS */
