:root {
  /* primary palette */
  --yellow: #eacb35;
  --pink: #cc003c;
  --green: #90bc0b;
  /* supporting palette */
  --black: #0a0a0a;
  --white: #e3dad3;
  --grey: #433f3c;
  --orange: #ee670c;
  --red: #c6031e;
  --blue: #66b3c4;

  --brand: var(--yellow);
  --accent: var(--pink);
  --neutral: var(--grey);
  --success: var(--green);
  --error: var(--red);
  --warning: var(--orange);
  --light: var(--white);
  --dark: var(--black);
  --background: var(--blue);

  --border-sm: 2px;
  --border-md: 4px;
  --border-lg: 8px;
  --border-radius-full: 50%;

  --h1-font: "IBMPlexMono";
  --h1-font-weight: 400;
  --h1-text-size: 1em;
  --h1-text-transform: lowercase;
  --h1-color: var(--brand);
  --h1-bg-color: var(--dark);
  --h1-border: var(--border-sm) solid var(--light);
  --h1-border-radius: var(--border-md) 0 0 0;
  --h1-width: fit-content;
  --h1-margin: auto;
  --h1-padding: 0 0.35em;
  --h1-position: inherit;

  --h2-font: "Karantina";
  --h2-font-weight: 400;
  --h2-text-size: 2em;
  --h2-text-transform: uppercase;
  --h2-color: var(--light);
  --h2-bg-color: var(--dark);
  --h2-border: var(--border-sm) solid var(--light);
  --h2-border-radius: 0 0 0 0;
  --h2-width: fit-content;
  --h2-margin: auto;
  --h2-padding: inherit;
  --h2-position: inherit;

  --h3-font: "CutiveMono";
  --h3-font-weight: bold;
  --h3-text-size: 2em;
  --h3-text-transform: uppercase;
  --h3-color: var(--dark);
  --h3-bg-color: var(--light);
  --h3-border: var(--border-md) solid var(--dark);
  --h3-border-radius: var(--border-sm);
  --h3-width: fit-content;
  --h3-margin: inherit;
  --h3-padding: inherit;
  --h3-position: inherit;

  --h4-font: "IBMPlexMono";
  --h4-font-weight: 400;
  --h4-text-size: 1em;
  --h4-text-transform: lowercase;
  --h4-color: var(--black);
  --h4-bg-color: var(--orange);
  --h4-border: var(--border-md) solid var(--light);
  --h4-border-radius: 0 0 0 var(--border-md);
  --h4-width: fit-content;
  --h4-margin: auto;
  --h4-padding: inherit;
  --h4-position: inherit;

  --h5-font: "Lacquer";
  --h5-font-weight: 400;
  --h5-text-size: 1em;
  --h5-text-transform: lowercase;
  --h5-color: var(--brand);
  --h5-bg-color: var(--dark);
  --h5-border: var(--border-sm) solid var(--brand);
  --h5-border-radius: var(--border-radius-full);
  --h5-width: max-content;
  --h5-margin: auto;
  --h5-padding: 3px;
  --h5-position: inherit;

  --h6-font: "MochiyPopPOne";
  --h6-font-weight: 400;
  --h6-text-size: 1em;
  --h6-text-transform: lowercase;
  --h6-color: var(--green);
  --h6-bg-color: "transparent";
  --h6-border: var(--border-sm) solid var(--white);
  --h6-border-radius: 0;
  --h6-width: fit-content;
  --h6-margin: auto;
  --h6-padding: inherit;
  --h6-position: inherit;

  --p-font: "CutiveMono";
  --p-font-weight: 400;
  --p-text-size: 1em;
  --p-text-transform: none;
  --p-color: var(--black);
  --p-bg-color: var(--white);
  --p-border: var(--border-md) solid var(--black);
  --p-border-radius: var(--border-md);
  --p-width: fit-content;
  --p-margin: auto;
  --p-padding: inherit;
  --p-position: inherit;

  --p-a-font: "IBMPlexMono";
  --p-a-font-weight: 400;
  --p-a-text-size: 1em;
  --p-a-text-transform: uppercase;
  --p-a-color: var(--dark);
  --p-a-bg-color: var(--success);
  --p-a-border: var(--border-sm) solid var(--black);
  --p-a-border-radius: var(--border-sm);
  --p-a-width: fit-content;
  --p-a-hover-font: "IBMPlexMono";
  --p-a-hover-font-weight: 400;
  --p-a-hover-text-size: 1em;
  --p-a-hover-text-transform: uppercase;
  --p-a-hover-color: var(--dark);
  --p-a-hover-bg-color: var(--background);
  --p-a-hover-border: var(--border-sm) solid var(--black);
  --p-a-hover-border-radius: 0;
  --p-a-hover-width: fit-content;

  --a-font: "IBMPlexMono";
  --a-font-weight: 400;
  --a-text-size: 1em;
  --a-text-transform: lowercase;
  --a-color: var(--success);
  --a-bg-color: transparent;
  --a-border: none;
  --a-border-radius: 0;
  --a-width: fit-content;
  --a-hover-font: "IBMPlexMono";
  --a-hover-font-weight: 400;
  --a-hover-text-size: 1em;
  --a-hover-text-transform: lowercase;
  --a-hover-color: var(--background);
  --a-hover-bg-color: transparent;
  --a-hover-border: none;
  --a-hover-border-radius: 0;
  --a-width: fit-content;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--neutral);

  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: center;
}

h1,
.h1 {
  font-family: var(--h1-font);
  font-weight: var(--h1-font-weight);
  text-transform: var(--h1-text-transform);
  color: var(--h1-color);
  background: var(--h1-bg-color);
  border: var(--h1-border);
  border-radius: var(--h1-border-radius);
  width: var(--h1-width);
  margin: var(--h1-margin);
  padding: var(--h1-padding);
  position: var(--h1-position);

  outline: var(--border-sm) solid var(--dark);
}

h2,
.h2 {
  font-family: var(--h2-font);
  font-weight: var(--h2-font-weight);
  text-transform: var(--h2-text-transform);
  color: var(--h2-color);
  background: var(--h2-bg-color);
  /* TODO: want square border around each letter */
  border: var(--h2-border);
  border-radius: var(--h2-border-radius);
  width: var(--h2-width);
  margin: var(--h2-margin);
  padding: var(--h2-padding);
  position: var(--h2-position);

  outline: var(--border-sm) solid var(--dark);
}

h3,
.h3 {
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  text-transform: var(--h3-text-transform);
  color: var(--h3-color);
  background: var(--h3-bg-color);
  /* TODO: want square border around each letter (?) */
  border: var(--h3-border);
  border-radius: var(--h3-border-radius);
  width: var(--h3-width);
  margin: var(--h3-margin);
  padding: var(--h3-padding);
  position: var(--h3-position);
}

h4,
.h4 {
  font-family: var(--h4-font);
  font-weight: var(--h4-font-weight);
  text-transform: var(--h4-text-transform);
  color: var(--h4-color);
  background: var(--h4-bg-color);
  border: var(--h4-border);
  border-radius: var(--h4-border-radius);
  width: var(--h4-width);
  margin: var(--h4-margin);
  padding: var(--h4-padding);
  position: var(--h4-position);

  outline: var(--border-sm) solid var(--dark);
}

h5,
.h5 {
  font-family: var(--h5-font);
  font-weight: var(--h5-font-weight);
  text-transform: var(--h5-text-transform);
  color: var(--h5-color);
  background: var(--h5-bg-color);
  border: var(--h5-border);
  border-radius: var(--h5-border-radius);
  width: var(--h5-width);
  margin: var(--h5-margin);
  padding: var(--h5-padding);
  position: var(--h5-position);

  //border-top: thin;
  outline: var(--border-sm) solid var(--dark);
}

h6,
.h6 {
  font-family: var(--h6-font);
  font-weight: var(--h6-font-weight);
  text-transform: var(--h6-text-transform);
  color: var(--h6-color);
  background: var(--h6-bg-color);
  border: var(--h6-border);
  border-radius: var(--h6-border-radius);
  width: var(--h6-width);
  margin: var(--h6-margin);
  padding: var(--h6-padding);
  position: var(--h6-position);
}

a:not(p a),
.a {
  font-family: var(--a-font);
  font-weight: var(--a-font-weight);
  text-transform: var(--a-text-transform);
  color: var(--a-color);
  background: var(--a-bg-color);
  border: var(--a-border);
  border-radius: var(--a-border-radius);

  text-shadow: -2px 2px var(--dark), -2px 2px var(--light);
  text-decoration: none;
}
a:hover {
  font-family: var(--a-hover-font);
  font-weight: var(--a-hover-font-weight);
  text-transform: var(--a-hover-text-transform);
  color: var(--a-hover-color);
  background: var(--a-hover-bg-color);
  border: var(--a-hover-border);
  border-radius: var(--a-hover-border-radius);
}

p a,
.p a {
  font-family: var(--p-a-font);
  font-weight: var(--p-a-font-weight);
  text-transform: var(--p-a-text-transform);
  color: var(--p-a-color);
  background: var(--p-a-bg-color);
  border: var(--p-a-border);
  border-radius: var(--p-a-border-radius);

  text-decoration: none;
}
p a:hover {
  font-family: var(--p-a-hover-font);
  font-weight: var(--p-a-hover-font-weight);
  text-transform: var(--p-a-hover-text-transform);
  color: var(--p-a-hover-color);
  background: var(--p-a-hover-bg-color);
  border: var(--p-a-hover-border);
  border-radius: var(--p-a-hover-border-radius);
}

button {
  color: var(--dark);
  border: unset;
  border-radius: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--success);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background: var(--background);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  height: 2em;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

p ul {
  flex-direction: column;
}

p,
.p {
  font-family: var(--p-font);
  text-transform: var(--p-text-transform);
  color: var(--p-color);
  background: var(--p-bg-color);
  border: var(--p-border);
  border-radius: var(--p-border-radius);
  width: var(--p-width);
  margin: var(--p-margin);
  padding: var(--p-padding);
  position: var(--p-position);
}

/* START media */
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */
/* END media */

/* start FONT FACES */
@font-face {
  font-family: "CutiveMono";
  src: local("CourierPrime-Bold"), url("./assets/fonts/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono-SemiBold"),
    url("./assets/fonts/IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: "Karantina";
  src: local("Karantina-Regular"), url("./assets/fonts/Karantina-Regular.ttf");
}

@font-face {
  font-family: "Lacquer";
  src: local("Lacquer-Regular"), url("./assets/fonts/Lacquer-Regular.ttf");
}

@font-face {
  font-family: "MochiyPopPOne"; /* Japanese only */
  src: local("MochiyPopPOne-Regular"),
    url("./assets/fonts/MochiyPopPOne-Regular.ttf");
}
/* end FONT FACES */

/* start CUSTOM STYLES */
#contact a svg {
  fill: var(--success);
  transition: transform 0.3s ease-in-out;
}
#contact a:hover svg {
  fill: var(--background);
  transform: scale(1.5);
}

.styles {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (min-width: 768px) {
  .styles {
    flex-direction: row;
  }
}
/* end CUSTOM STYLES */
