@import "tailwindcss";

:root {
  --yellow: #eacb35;
  --pink: #cc003c;
  --green: #90bc0b;
  --black: #000000;
  --black-111: #111;
  --white: #e3dad3;
  --grey: #433f3c;
  --orange: #ee670c;
  --red: #c6031e;
  --blue: #66b3c4;

  --sm: 2px;
  --md: 4px;
  --lg: 8px;
  --xl: 16px;

  --brand: var(--yellow);
  --accent: var(--pink);
  --neutral: var(--grey);
  --success: var(--green);
  --error: var(--red);
  --warning: var(--orange);
  --light: var(--white);
  --darkest: var(--black);
  --darker: var(--black-111);
  --background: var(--blue);

  --border-sm: var(--sm);
  --border-md: var(--md);
  --border-lg: var(--lg);
  --border-radius-full: 50%;

  --h1-font: inherit;
  --h1-font-weight: 400;
  --h1-text-size: 1.25em;
  --h1-text-transform: none;
  --h1-color: var(--brand);
  --h1-bg-color: var(--darkest);
  --h1-border: var(--border-sm) solid var(--light);
  --h1-border-radius: 0;
  --h1-width: fit-content;
  --h1-margin: 5px auto;
  --h1-padding: 0.25em 0.5em;
  --h1-position: relative;

  --h2-font: inherit;
  --h2-font-weight: 400;
  --h2-text-size: 2em;
  --h2-text-transform: uppercase;
  --h2-color: var(--light);
  --h2-bg-color: var(--darkest);
  --h2-border: var(--border-sm) solid var(--light);
  --h2-border-radius: 0;
  --h2-width: fit-content;
  --h2-margin: 10px auto;
  --h2-padding: 0 0 var(--lg);
  --h2-position: relative;

  --h3-font: inherit;
  --h3-font-weight: bold;
  --h3-text-size: 2em;
  --h3-text-transform: uppercase;
  --h3-color: var(--darkest);
  --h3-bg-color: var(--light);
  --h3-border: var(--border-md) solid var(--darkest);
  --h3-border-radius: var(--border-sm);
  --h3-width: fit-content;
  --h3-margin: var(--xl) auto 0;
  --h3-padding: 5px 5px 0 5px;
  --h3-position: relative;

  --h4-font: inherit;
  --h4-font-weight: 400;
  --h4-text-size: 1.15em;
  --h4-text-transform: none;
  --h4-color: var(--black);
  --h4-bg-color: var(--orange);
  --h4-border: var(--border-md) solid var(--light);
  --h4-border-radius: 0;
  --h4-width: fit-content;
  --h4-margin: -1em auto 0;
  --h4-padding: 0 0.25em;
  --h4-position: relative;

  --h5-font: inherit;
  --h5-font-weight: 400;
  --h5-text-size: 1.5em;
  --h5-text-transform: none;
  --h5-color: var(--brand);
  --h5-bg-color: var(--darkest);
  --h5-border: var(--border-md) solid var(--brand);
  --h5-border-radius: var(--border-radius-full);
  --h5-width: max-content;
  --h5-margin: auto;
  --h5-padding: var(--lg);
  --h5-position: relative;

  --h6-font: inherit;
  --h6-font-weight: 400;
  --h6-text-size: 2.25em;
  --h6-text-transform: lowercase;
  --h6-color: var(--green);
  --h6-bg-color: "transparent";
  --h6-border: var(--border-sm) solid var(--white);
  --h6-border-radius: 0;
  --h6-width: fit-content;
  --h6-margin: 0;
  --h6-padding: 0;
  --h6-position: relative;

  --a-font: inherit;
  --a-font-weight: 600;
  --a-text-size: 1.5em;
  --a-text-transform: uppercase;
  --a-color: var(--darkest);
  --a-bg-color: var(--success);
  --a-border: var(--border-sm) solid var(--success);
  --a-border-radius: 0;
  --a-width: fit-content;
  --a-padding: 0;

  --a-hover-font: inherit;
  --a-hover-font-weight: 600;
  --a-hover-text-size: 1.5em;
  --a-hover-text-transform: uppercase;
  --a-hover-color: var(--darkest);
  --a-hover-bg-color: var(--blue);
  --a-hover-border: var(--border-sm) solid var(--black);
  --a-hover-border-radius: 0;

  --p-a-font: inherit;
  --p-a-font-weight: 400;
  --p-a-text-size: 1.25em;
  --p-a-text-transform: uppercase;
  --p-a-color: var(--darkest);
  --p-a-bg-color: var(--success);
  --p-a-border: var(--border-sm) solid var(--black);
  --p-a-border-radius: var(--border-sm);
  --p-a-width: fit-content;
  --p-a-padding: 0 0.25em;

  --p-a-hover-font: inherit;
  --p-a-hover-font-weight: 400;
  --p-a-hover-text-size: 1.25em;
  --p-a-hover-text-transform: uppercase;
  --p-a-hover-color: var(--darkest);
  --p-a-hover-bg-color: var(--background);
  --p-a-hover-border: var(--border-sm) solid var(--black);
  --p-a-hover-border-radius: 0;
  --p-a-hover-width: fit-content;

  --p-font: inherit;
  --p-font-weight: 400;
  --p-text-size: 1.25em;
  --p-text-transform: none;
  --p-color: var(--black);
  --p-bg-color: var(--white);
  --p-border: none;
  --p-border-radius: var(--border-md);
  --p-width: fit-content;
  --p-margin: auto;
  --p-padding: var(--xl);
  --p-position: inherit;

  --animation-speed-normal: 8s;
  --animation-speed-reduced: 15s;

  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  color: var(--white);
  color-scheme: light dark;
  background-color: var(--darkest);
  background: repeating-radial-gradient(
    circle at center,
    var(--darkest),
    var(--darkest) 2em,
    var(--darker) 2em,
    var(--darker) 3em
  );
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
}

.section {
  padding: var(--xl);
  margin: 0 0 var(--xl);
  background-color: var(--neutral);
  display: inline-block;
  position: relative;
  z-index: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: center;
}

h1,
.h1 {
  font-size: var(--h1-text-size);
  font-family: var(--h1-font);
  font-weight: var(--h1-font-weight);
  text-transform: var(--h1-text-transform);
  font-size: var(--h1-text-size);
  color: var(--h1-color);
  background: var(--h1-bg-color);
  border: var(--h1-border);
  border-radius: var(--h1-border-radius);
  width: var(--h1-width);
  margin: var(--h1-margin);
  padding: var(--h1-padding);
  position: var(--h1-position);

  outline: var(--border-sm) solid var(--darkest);
}

h2,
.h2 {
  font-size: var(--h2-text-size);
  font-family: var(--h2-font);
  font-weight: var(--h2-font-weight);
  text-transform: var(--h2-text-transform);
  color: var(--h2-color);
  background: var(--h2-bg-color);
  border: var(--h2-border);
  border-radius: var(--h2-border-radius);
  width: var(--h2-width);
  margin: var(--h2-margin);
  padding: var(--h2-padding);
  position: var(--h2-position);

  outline: var(--border-sm) solid var(--darkest);
  letter-spacing: var(--lg);
}

h3,
.h3 {
  font-size: var(--h3-text-size);
  font-family: var(--h3-font);
  font-weight: var(--h3-font-weight);
  text-transform: var(--h3-text-transform);
  color: var(--h3-color);
  background: var(--h3-bg-color);
  border: var(--h3-border);
  border-radius: var(--h3-border-radius);
  width: var(--h3-width);
  margin: var(--h3-margin);
  padding: var(--h3-padding);
  position: var(--h3-position);
}

h4:not(.p),
.h4:not(.p) {
  font-size: var(--h4-text-size);
  font-family: var(--h4-font);
  font-weight: var(--h4-font-weight);
  text-transform: var(--h4-text-transform);
  color: var(--h4-color);
  background: var(--h4-bg-color);
  border: var(--h4-border);
  border-radius: var(--h4-border-radius);
  width: var(--h4-width);
  margin: var(--h4-margin);
  padding: var(--h4-padding);
  position: var(--h4-position);

  outline: var(--border-sm) solid var(--darkest);
}

h5:not(.h6),
h5:not(.h4),
.h5 {
  font-size: var(--h5-text-size);
  font-family: var(--h5-font);
  font-weight: var(--h5-font-weight);
  text-transform: var(--h5-text-transform);
  color: var(--h5-color);
  background: var(--h5-bg-color);
  border: var(--h5-border);
  border-radius: var(--h5-border-radius);
  width: var(--h5-width);
  margin: var(--h5-margin);
  padding: var(--h5-padding);

  outline: var(--border-sm) solid var(--darkest);
  transform: rotate(-7deg);
}

h6,
.h6 {
  font-size: var(--h6-text-size);
  font-family: var(--h6-font);
  font-weight: var(--h6-font-weight);
  text-transform: var(--h6-text-transform);
  color: var(--h6-color);
  background: var(--h6-bg-color);
  stroke: var(--h6-border);
  border-radius: var(--h6-border-radius);
  width: var(--h6-width);
  margin: var(--h6-margin);
  padding: var(--h6-padding);
  position: var(--h6-position);

  text-shadow: -3px 3px var(--darkest), -4px 4px var(--light);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

p a,
p button {
  font-size: var(--p-a-text-size);
  font-family: var(--p-a-font);
  font-weight: var(--p-a-font-weight);
  text-transform: var(--p-a-text-transform);
  color: var(--p-a-color);
  background: var(--p-a-bg-color);
  border: var(--p-a-border);
  border-radius: var(--p-a-border-radius);
  padding: var(--p-a-padding);

  &:hover,
  &.active {
    font-family: var(--p-a-hover-font);
    font-weight: var(--p-a-hover-font-weight);
    text-transform: var(--p-a-hover-text-transform);
    color: var(--p-a-hover-color);
    background: var(--p-a-hover-bg-color);
    border: var(--p-a-hover-border);
    border-radius: var(--p-a-hover-border-radius);
  }
}

a,
button {
  font-size: var(--a-text-size);
  font-family: var(--a-font);
  font-weight: var(--a-font-weight);
  text-transform: var(--a-text-transform);
  color: var(--a-color);
  background: var(--a-bg-color);
  border: var(--a-border);
  border-radius: var(--a-border-radius);
  padding: var(--a-padding);

  text-decoration: none;

  &:hover,
  &.active {
    font-family: var(--a-hover-font);
    font-weight: var(--a-hover-font-weight);
    text-transform: var(--a-hover-text-transform);
    color: var(--a-hover-color);
    background: var(--a-hover-bg-color);
    border: var(--a-hover-border);
    border-radius: var(--a-hover-border-radius);
  }
}
a.icon {
  &:hover svg {
    fill: var(--a-hover-bg-color);
    transform: scale(1.5);
  }

  svg {
    transition: transform 0.3s ease-out;
  }
}
a svg:not(.star) {
  height: 3em;
  fill: var(--a-bg-color);
}

p,
.p {
  font-size: var(--p-text-size);
  font-family: var(--p-font);
  font-weight: var(--p-font-weight);
  text-transform: var(--p-text-transform);
  color: var(--p-color);
  background: var(--p-bg-color);
  border: var(--p-border);
  border-radius: var(--p-border-radius);
  width: var(--p-width);
  margin: var(--p-margin);
  padding: var(--p-padding);
  position: var(--p-position);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
}

/* start CUSTOM STYLES */
.align-center {
  align-content: center;
}

.text-nav ul {
  display: flex;
}
nav li {
  width: 100%;
  text-align: center;
}
nav li a {
  width: 100%;
  display: block;
}

.cont {
  width: 100%;
  height: 102vh;
  position: absolute;
  overflow: hidden;
  border-top: 15px solid var(--darkest);
  border-bottom: 15px solid var(--darkest);
  margin: -15px 0 0;
  border-radius: 10px;
  filter: url("#liquid");
  transform: rotate(180deg);
  position: fixed;
  top: 0;
  z-index: -1;

  & .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--darkest);
    position: absolute;
    top: -100%;
    border-color: var(--darkest);
    background: var(--darkest);
  }
}

.grid-list {
  gap: var(--xl);
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 666px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1024px) {
    & {
      gap: var(--lg);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card,
.card-content {
  position: relative;
}
.card-title {
  position: absolute;
  z-index: 2;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
}
@media (min-width: 769px) {
  .card-image {
    filter: grayscale(1);
    transition: filter 0.4s;
    z-index: 1;
    border: var(--sm) solid var(--light);
    outline: var(--sm) solid var(--darkest);
    object-fit: cover;
    height: 100%;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .card:hover .card-footer {
    opacity: 1;
    transition: opacity 0.4s;
  }
  .card:hover .card-image {
    filter: none;
    transition: filter 0.4s;
  }
}

.badge {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
}

.hidden {
  display: none;
}

nav.icon-nav li a {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
}
nav.icon-nav a svg:not(.star) {
  position: relative;
  fill: var(--success);
  transition: transform 0.3s ease-out;
  z-index: 98;
  top: 30px;
}
nav.icon-nav a:hover svg:not(.star) {
  fill: var(--background);
  transform: scale(1.5);
}

.header {
  display: flex;
  justify-content: center;
  height: 100%;
}

.star {
  position: absolute;
  fill: var(--accent);
  stroke: var(--brand);
  stroke-width: var(--xl);
  z-index: 97;
  display: none;
  height: 5em;
  left: -1.5em;
  top: -0.5em;

  @media (min-width: 525px) {
    & {
      justify-self: anchor-center;
    }
  }
}

ul:not(nav ul):not(.grid-list) {
  list-style: katakana inside;
}

/* end CUSTOM STYLES */

/* start ANIMATIONS */
@media (prefers-reduced-motion: no-preference) {
  li:hover .star {
    animation: svg-spin infinite var(--animation-speed-normal) linear;
  }
}
@media (prefers-reduced-motion: reduce) {
  li:hover .star {
    animation: svg-spin infinite var(--animation-speed-reduced) linear;
  }
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 2px 3px rgba(40, 76, 82, 0.5);
  }
  50% {
    box-shadow: 0 0 5px 3px rgba(40, 76, 82, 0.9);
  }
  100% {
    box-shadow: 0 0 3px 3px rgba(40, 76, 82, 0.5);
  }
}

@keyframes svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes falling {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
/* end ANIMATIONS */
